<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>MainFilter</filter-name>
        <filter-class>com.sample.hanashop.filters.MainFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SearchFilter</filter-name>
        <filter-class>com.sample.hanashop.filters.SearchFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoadFoodDetailsFilter</filter-name>
        <filter-class>com.sample.hanashop.filters.LoadFoodDetailsFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckAvailableFoodInBillFilter</filter-name>
        <filter-class>com.sample.hanashop.filters.CheckAvailableFoodInBillFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoadUserDetailsFilter</filter-name>
        <filter-class>com.sample.hanashop.filters.LoadUserDetailsFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GoToAddFoodFilter</filter-name>
        <filter-class>com.sample.hanashop.filters.GoToAddFoodFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UpdateFoodFilter</filter-name>
        <filter-class>com.sample.hanashop.filters.UpdateFoodFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ManageHanaShopFilter</filter-name>
        <filter-class>com.sample.hanashop.filters.ManageHanaShopFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ManageFoodFilter</filter-name>
        <filter-class>com.sample.hanashop.filters.ManageFoodFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ManageAccountFilter</filter-name>
        <filter-class>com.sample.hanashop.filters.ManageAccountFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ValidAccountFilter</filter-name>
        <filter-class>com.sample.hanashop.filters.ValidAccountFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ValidToOrderFilter</filter-name>
        <filter-class>com.sample.hanashop.filters.ValidToOrderFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MainFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidToOrderFilter</filter-name>
        <servlet-name>PayController</servlet-name>
        <url-pattern>/method-payment.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ValidAccountFilter</filter-name>
        <servlet-name>SendCodeUserController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ManageAccountFilter</filter-name>
        <url-pattern>/manage-account.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ManageFoodFilter</filter-name>
        <url-pattern>/manage-food.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ManageHanaShopFilter</filter-name>
        <url-pattern>/manage-hanashop.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UpdateFoodFilter</filter-name>
        <servlet-name>UpdateFoodController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GoToAddFoodFilter</filter-name>
        <url-pattern>/add-food.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoadUserDetailsFilter</filter-name>
        <servlet-name>SearchBillByUserController</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckAvailableFoodInBillFilter</filter-name>
        <servlet-name>LoadShoppingCartController</servlet-name>
        <servlet-name>DeleteAFoodInCartController</servlet-name>
        <servlet-name>FinishOrderController</servlet-name>
        <servlet-name>PayController</servlet-name>
        <servlet-name>CreatePayPalOrderController</servlet-name>
        <servlet-name>PayByPaypalController</servlet-name>
        <servlet-name>LoadShoppingCartController</servlet-name>
        <url-pattern>/payment.jsp</url-pattern>
        <url-pattern>/method-payment.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoadFoodDetailsFilter</filter-name>
        <servlet-name>LoadFoodDetailsController</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SearchFilter</filter-name>
        <servlet-name>SearchController</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginByGoogleController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.LoginByGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupByGoogleController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.SignupByGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAFoodToCartController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.AddAFoodToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFoodDetailsController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.LoadFoodDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadShoppingCartController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.LoadShoppingCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAFoodInCartController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.DeleteAFoodInCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadShoppingHistoryController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.LoadShoppingHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.PayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayByPaypalController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.PayByPaypalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePayPalOrderController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.CreatePayPalOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishOrderController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.FinishOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefundMoneyController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.RefundMoneyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBillByUserController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.SearchBillByUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewFoodController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.AddNewFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFoodController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.UpdateFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFoodController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.DeleteFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadUserDetailsController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.LoadUserDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendCodeUserController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.SendCodeUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailController</servlet-name>
        <servlet-class>com.sample.hanashop.controllers.VerifyEmailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginByGoogleController</servlet-name>
        <url-pattern>/LoginByGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupByGoogleController</servlet-name>
        <url-pattern>/SignupByGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAFoodToCartController</servlet-name>
        <url-pattern>/AddAFoodToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFoodDetailsController</servlet-name>
        <url-pattern>/LoadFoodDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadShoppingCartController</servlet-name>
        <url-pattern>/LoadShoppingCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAFoodInCartController</servlet-name>
        <url-pattern>/DeleteAFoodInCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadShoppingHistoryController</servlet-name>
        <url-pattern>/LoadShoppingHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayController</servlet-name>
        <url-pattern>/PayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayByPaypalController</servlet-name>
        <url-pattern>/PayByPaypalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePayPalOrderController</servlet-name>
        <url-pattern>/CreatePayPalOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishOrderController</servlet-name>
        <url-pattern>/FinishOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefundMoneyController</servlet-name>
        <url-pattern>/RefundMoneyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBillByUserController</servlet-name>
        <url-pattern>/SearchBillByUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewFoodController</servlet-name>
        <url-pattern>/AddNewFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFoodController</servlet-name>
        <url-pattern>/UpdateFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFoodController</servlet-name>
        <url-pattern>/DeleteFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadUserDetailsController</servlet-name>
        <url-pattern>/LoadUserDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/SignupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCodeUserController</servlet-name>
        <url-pattern>/SendCodeUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailController</servlet-name>
        <url-pattern>/VerifyEmailController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>SearchController</welcome-file>
    </welcome-file-list>
</web-app>
